:root {
  --primary-color: rgba(112, 87, 255, 0.24);
  --secondary-color:  rgba(112, 87, 255, 0.66);
  --color-text: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  background-color: #121212;
}

.v-popper {
  &__inner {
    background: #18181b !important;
    padding: 8px 12px !important;
    border-radius: 8px !important;
    border: 1px solid var(--primary-color);
  }

  &--theme-tooltip {
    max-width: 450px;
    margin: 0 12px;
  }

  &__arrow-container {
    display: none;
  }
}
